.result-list {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 8px;
  width: 100%;
}

.result-list--loading {
  background: blue;
  height: 100px;

  &:after {
    content: 'Loading...';
    display: block;
    text-align: center;
  }
}

.result-list--empty {
  text-align: center;
}