$color-blue: #4ca8a7;
$breakpoint-tablet-min: "min-width: 620px";

$header-height: 80px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  padding-top: 10 + $header-height;
}

@import "header";
@import "result-list";
@import "video-result";